body {
  background-image: linear-gradient(to right, #0a1d3a, #162840);
  color: whitesmoke;
}

.center {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

/* mobile */
@media (max-width: 750px) {
  .center {
    width: 90%;
  }
  body {
    font-size: 12px;
  }
}
/* desktop */
@media (min-width: 751px) {
  .center {
    width: 70%;
  }
  body {
    font-size: 16px;
  }
}

.centertext {
    text-align: center;
}

#navbarIcon {
  height: 35px; 
  width: auto; 
  margin-top: 3px;
}

.navbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
    background-image: linear-gradient(to right, #0a1d3a, #162840);
  }
 
.navbar > a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.dropdown {
    float: left;
  }
  
.dropdown > .dropbtn {
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* mobile */
@media (max-width: 750px) {
  .navbar {
    height: 42px;
  }
  .dropdown, .dropbtn, .navbar > a {
    font-size: 12px;
  }
  .dropdown-content {
    width: 82px;
  }
}

/* desktop */
@media (min-width: 751px) {
  .navbar {
    height: 50px;
  }
  .dropdown, .dropbtn, .navbar > a {
    font-size: 16px;
  }
  .dropdown-content {
    width: 98.66px;
  }
}

  
.navbar > a:hover, .dropdown:hover, .dropbtn {
  background-color: #4a5e71;
}

.dropbtn:hover {
  cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4a5e71;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 300; 
    position: sticky;
  }
  
.dropdown-content > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: whitesmoke;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }

a:link, a:visited {
    color: #fcd228;
  }
  
a:hover {
    color: blue;
  }
  
  
a:active {
    color: whitesmoke;
  }

.navbar > a {
    color: whitesmoke;
}

.navbar > div > div > a {
    color: #0a1c3a;
}

.imageButton {
  padding: 0!important;
}
.imageButton:hover {
  background-color: transparent!important;
}

.commandGrid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 10px;
  grid-template-rows: auto;
  width: 75%;
}

.commandGridButton {
  min-height: 25px; 
  min-width: 75px !important; 
  margin: 20px 10px 20px 75px;
  grid-column: 1;
}

.commandGridText {
  grid-column: 2; 
  text-align:start;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.commandHeader {
  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 0px;
  grid-column-start: span 2;
  display: inline-flex;
}

.hkmBanner {
  height: auto;
}

/* mobile */
@media (max-width: 750px) {
  .hkmBanner {
    width: 150px;
  }
}

/* desktop */
@media (min-width: 751px) {
  .hkmBanner {
    width: 200px;
  }
}

.yellowClickableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellowClickable {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #fcd228;
  color: #0a1d3a !important;
  border: none;
  text-align: center;
  text-decoration: none;
  width: auto;
  justify-content: center;
  align-items: center;
}

.yellowClickable:hover {
  background-color: #4a5e71;
  color: #0a1d3a !important;
  cursor: pointer;
}

.downloadIcon {
  margin-left: 10px;
}

.linksSVG {
  height: 125px;
  width: 125px;
  fill: #c9a820;
  margin-left: auto;
  margin-right: auto;
}

.linksSVG:hover {
  background-color: #2a4c79;
  cursor: pointer;
}

.linksGrid {
  display: grid;  
  column-gap: 10px;
  row-gap: 50px;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.linkSVGText {
  text-align: center; 
  position: relative; 
  top: 5px;
  color: #c9a820;
  padding: 0px;
  margin: 0px;
}

/* mobile */
@media (max-width: 750px) {
  .linksGrid {
  grid-template-columns: 1fr 1fr;
  }
}

/* desktop */
@media (min-width: 751px) {
  .linksGrid {
    grid-template-columns: 1fr 1fr 1fr;
    }
}