body {
  background-image: linear-gradient(to right, #0a1d3a, #162840);
  color: whitesmoke;
}

.center {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

@media (max-width: 750px) {
  .center {
    width: 80%;
  }
}

.centertext {
    text-align: center;
}

#navbarIcon {
  height: 35px; 
  width: auto; 
  margin-top: 3px;
}

.navbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
    background-image: linear-gradient(to right, #0a1d3a, #162840);
  }
 
.navbar > a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.dropdown {
    float: left;
  }
  
.dropdown > .dropbtn {
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

@media (min-width: 751px) {
  .navbar {
    height: 50px;
  }
  .dropdown, .dropbtn, .navbar > a {
    font-size: 16px;
  }
  .dropdown-content {
    width: 98.66px;
  }
}

@media (max-width: 750px) {
  .navbar {
    height: 42px;
  }
  .dropdown, .dropbtn, .navbar > a {
    font-size: 12px;
  }
  .dropdown-content {
    width: 82px;
  }
}

  
.navbar > a:hover, .dropdown:hover, .dropbtn {
    background-color: #4a5e71;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4a5e71;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 300; 
    position: sticky;
  }
  
.dropdown-content > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: whitesmoke;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }

a:link, a:visited {
    color: #fcd228;
  }
  
a:hover {
    color: blue;
  }
  
  
a:active {
    color: whitesmoke;
  }

.navbar > a {
    color: whitesmoke;
}

.navbar > div > div > a {
    color: #0a1c3a;
}

.imageButton {
  padding: 0!important;
}
.imageButton:hover {
  background-color: transparent!important;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 20px;
  grid-template-rows: auto;
  width: 75%;
}

.gridButton {
  height: 25px; 
  width: 150px; 
  margin: auto;
  margin-right: 0px;
  grid-column: 1;
}

.gridText {
  grid-column: 2; 
}

.commandHeader {
  margin-top: 50px; 
  margin-bottom: 0px;
}